<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net48" />
  <package id="DevExpress.Data" version="18.2.7" targetFramework="net48" />
  <package id="DevExpress.Images" version="18.2.7" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="18.2.7" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="18.2.7" targetFramework="net48" />
  <package id="DevExpress.PivotGrid.Core" version="18.2.7" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="18.2.7" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="18.2.7" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Export" version="18.2.7" targetFramework="net48" />
  <package id="DevExpress.Sparkline.Core" version="18.2.7" targetFramework="net48" />
  <package id="DevExpress.Utils" version="18.2.7" targetFramework="net48" />
  <package id="DevExpress.Win" version="18.2.7" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="EntityFramework.Extended" version="6.1.0.168" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.16.0" targetFramework="net48" />
  <package id="Mandara.Common" version="5.21.299.1" targetFramework="net48" />
  <package id="Mandara.Database" version="5.21.299.1" targetFramework="net48" />
  <package id="Mandara.Date" version="5.21.299.1" targetFramework="net48" />
  <package id="Mandara.Extensions" version="5.21.299.1" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.19" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Ninject" version="3.3.4" targetFramework="net48" />
  <package id="Ninject.Extensions.Logging" version="3.3.0" targetFramework="net48" />
  <package id="NLog" version="4.7.4" targetFramework="net48" />
  <package id="Optional" version="4.0.0" targetFramework="net48" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>