<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="productsService" value="http://localhost:5165"/>
		<add key="eventStoreConnectionString" value="esdb://192.168.1.51:2113?tls=false&amp;keepAliveTimeout=10000&amp;keepAliveInterval=10000" />
		<add key ="OfficialProductsStreamName" value="OfficialProduct.v1"/>
	</appSettings>
</configuration>